* {
  padding: 0;
  margin: 0;
}

body, html {
  width: 100%;
  height: 100%;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body, #app, .ant-layout {
  height: 100%;
  background-color: #f8f8f8;
}

.ant-menu::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: #001529;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  text-align: center;
}

.logo img {
  width: 32px;
  height: 32px;
}

.spin___2qTG- .ant-spin-container {
  height: 100vh;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
